In [23]:
import numpy as np
import pandas as pd

In [24]:
df=  pd.read_csv("D:\pandas.excel\sales_data.csv")

In [25]:
df.head()

,Unnamed: 0,ProductID,QuantitySold,Price,Discount,Category,Supplier,Date,CustomerID,Country,Profit
0,0,C,8,75.539471,0.064576,Toys,Supplier1,2022-01-01,1148,USA,20.835021
1,1,A,8,43.100482,0.142251,Toys,Supplier3,2022-01-02,1079,USA,11.003640
2,2,C,3,66.907525,0.198508,Clothing,Supplier2,2022-01-03,1885,Canada,6.896583
3,3,C,1,67.017674,0.071013,Home,Supplier3,2022-01-04,1212,USA,8.221993
4,4,A,8,58.219722,0.127749,Toys,Supplier3,2022-01-05,1202,UK,8.201146

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    100 non-null    int64
 1   ProductID     100 non-null    object
 2   QuantitySold  100 non-null    int64
 3   Price         100 non-null    float64
 4   Discount      100 non-null    float64
 5   Category      100 non-null    object
 6   Supplier      100 non-null    object
 7   Date          100 non-null    object
 8   CustomerID    100 non-null    int64
 9   Country       100 non-null    object
 10  Profit        100 non-null    float64
dtypes: float64(3), int64(3), object(5)
memory usage: 8.7+ KB

In [27]:
# calcualate total revuence for each product and overall
# calculate the average profit margin for each product
# identity the top - selling and categories

In [28]:
df=df.counts=df['Category'].value_counts()
print(df)

Category
Electronics    35
Toys           24
Home           22
Clothing       19
Name: count, dtype: int64

In [29]:


# Assuming you have columns named 'QuantitySold' and 'Price' in your dataset
# Create a new column 'Revenue' by multiplying QuantitySold and Price
df['Revenue'] = df['QuantitySold'] * df['Price']

# Calculate total revenue for each product
product_total_revenue = df.groupby('ProductID')['Revenue'].sum()

# Display the results
print("Total Revenue for Each Product:")
print(product_total_revenue)

Total Revenue for Each Product:
ProductID
A    8540.940987
B    9239.251238
C    9935.431533
Name: Revenue, dtype: float64

In [30]:
# Create a new column 'ProfitMargin' by dividing Profit by Revenue
df['ProfitMargin'] = df['Profit'] / df['Revenue']

# Calculate average profit margin for each product
product_avg_profit_margin = df.groupby('ProductID')['ProfitMargin'].mean()

# Display the results
print("Average Profit Margin for Each Product:")
print(product_avg_profit_margin)

Average Profit Margin for Each Product:
ProductID
A    0.119770
B    0.148286
C    0.132736
Name: ProfitMargin, dtype: float64

In [31]:
# Calculate total quantity sold for each product
product_total_quantity_sold = df.groupby('ProductID')['QuantitySold'].sum()

# Identify the top-selling products
top_selling_products = product_total_quantity_sold.sort_values(ascending=False).head(5)  # Adjust the number as needed

# Calculate total quantity sold for each category
category_total_quantity_sold = df.groupby('Category')['QuantitySold'].sum()

# Identify the top-selling categories
top_selling_categories = category_total_quantity_sold.sort_values(ascending=False).head(5)  # Adjust the number as needed

# Display the results
print("Top-Selling Products:")
print(top_selling_products)

print("\nTop-Selling Categories:")
print(top_selling_categories)

Top-Selling Products:
ProductID
B    172
C    164
A    154
Name: QuantitySold, dtype: int64

Top-Selling Categories:
Category
Electronics    160
Toys           148
Home           111
Clothing        71
Name: QuantitySold, dtype: int64